img {
    vertical-align: middle;
}

textarea {
    resize: vertical;
}

::selection {
    text-shadow: none;
    background: #333;
    color: #fff;
}

/* ==========================================================================
   senderfund.com
   ========================================================================== */

body {
    font: 16px 'Raleway', sans-serif;

    background: url(../img/site-bg.jpg) 50% 0;
}

h1, h2, h3, h4 {
    font-weight: normal;
    text-transform: uppercase;
    text-align: left;
}

header {
    background: url(../img/fsf-logo.png) no-repeat 50% 20%;
}

header h1 {
    margin: 1em auto;
    width: 280px;
    color: #FFF;

    font-weight: normal;

    text-rendering: optimizeLegibility;
}

    header h1 span {
        font-family: Garamond, serif;
        font-size: 0.65em;
        letter-spacing: 1px;
        display: block;
        text-align: center;
    }

    header h1 span:first-of-type {
        text-shadow: 2px 1px 6px rgba(0,0,0,0.25); /* larger text, lighter shadow */
    }
    header h1 span:last-of-type {
        font-size: 0.4em;
        font-family: inherit;
        text-shadow: 3px 1px 4px rgba(0,0,0,0.25);
    }

.content {
    background-color: #f7f8f8;
    color: #8a8a8a;

    box-shadow: 1px 1px 6px rgba(0,0,0,0.1);

    margin-bottom: 5em;
}
    .content section {
        background-color: #FFF;
        width: 90%;
        padding: 3em 5% 0 5%;
        margin: 0 auto;

        max-width: 900px;
    }

    .content a {
        color: #e07f7f;
    }

    .content h2 {
        font-size: 1.5em;
        margin-top: 0;
        padding-top: 0;
    }

    .content h3 {
        font-size: 1.3em;
        margin-top: 0;
    }

    .content h4 {
        font-size: 1em;
    }

    .content p {
        line-height: 1.5em;
    }
        .content p:last-of-type {
            margin-bottom: 0;
        }

    .content li {

    }

section .giving-block img {
    float: left;
}

section .giving-block h4 {
    padding: 0.3em 0 0 5em;
    text-align: left;
}
    .giving-block aside {
        font-size: 80%;
        text-align: left;
        margin: 1em 0;
        font-style: italic;
    }

.content hr {
    background-color: #dbdbdb;
    border: 1px solid #dbdbdb;
    width: 100%;

    margin: 0 auto 3em auto;

    max-width: 900px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 479px) {

    header {
        padding: 9em 0 1em 0;
    }

    .decor {
        display: none;
    }

}

@media only screen and (min-width: 480px) {

    header {
        background: url(../img/fsf-logo.png) no-repeat 50% 28%;
        padding: 11em 0 1em 0;
    }

    h1, h2, h3 {
        text-align: center;
    }

    header h1 {
        width: 400px;
    }
        header h1 span {
            text-align: justify;
            display: block;
            line-height: 0.45em;
        }

            header h1 span:after {
                content: "";
                display: inline-block;
                width: 100%;
            }

        header h1 span:first-of-type {
            font-family: Garamond, serif;
            font-size: 0.95em;
        }
        header h1 span:last-of-type {
            font-family: inherit;
            font-size: 0.4em;
        }

    .decor {
        display: none;
    }

}

@media only screen and (min-width: 768px) {

    header {
        background: url(../img/fsf-logo.png) no-repeat 50% 26%;
        padding: 10em 0 2em 0;
    }

    header h1 {
        width: 500px;
    }
        header h1 span:first-of-type {
            font-family: Georgia, serif;
            font-size: 1.15em;
        }
        header h1 span:last-of-type {
            font-size: 0.5em;
        }

    .mission h2 {
        float: left;
        width: 90%;
    }

    .decor {
        display: block;
        float: left;

        /*margin-top: 0.2em;*/

        font-size: 6em;

        width: 5%;

        vertical-align: middle;
        text-align: center;

        height: 0.35em;
    }

    .content section {
        /*padding: 2em 5% 0 5%;*/
        width: 90%;
    }

        .content section h3 {
            margin: 0 0 2em 0;
        }

    section.additional-info {
        padding-bottom: 2em;
    }

    .info-block {
        float: left;
        width: 50%;
    }

}

@media only screen and (min-width: 960px) {

    header h1 {
        width: 600px;
    }
        header h1 span:first-of-type {
            font-size: 1.35em;
            margin-top: 1em;
        }
        header h1 span:last-of-type {
            font-size: 0.65em;
        }

    .giving-block {
        width: 30%;
        float: left;
        padding: 0 2%;

        text-align: center;
    }
        .giving-block p, .giving-block li {
            text-align: left;
        }

        .giving-block ul {
            margin: 0;
            padding: 0;
            list-style: none;

            font-style: italic;
        }

        section .giving-block h4 {
            padding: 0.3em 0 0 0;
            text-align: center;
        }

        section .giving-block img {
            float: none;
        }

        .giving-block:first-of-type {
            padding-left: 0;
        }

        .giving-block:last-of-type {
            padding-right: 0;
        }

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}